---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        type: statefulset
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.11.5
            env:
              ESPHOME_DASHBOARD_USE_PING: true
            resources:
              requests:
                memory: 500Mi
                cpu: 5m
              limits:
                memory: 1Gi
    service:
      app:
        controller: app
        ports:
          http:
            port: 6052
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host esphome.${SECRET_DOMAIN:=internal}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    persistence:
      config:
        enabled: true
        existingClaim: esphome
        globalMounts:
          - path: /config
      esphome-cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
