---
# yaml-language-server: $schema=https://kubernetes-schemas.dmfrey.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app whereabouts

spec:
  interval: 15m

  chart:
    spec:
      chart: whereabouts
      version: 0.1.1
      sourceRef:
        kind: HelmRepository
        name: k8snetworkplumbingwg
        namespace: flux-system

  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/whereabouts
      tag: "v0.8.0"
      pullPolicy: IfNotPresent

    resources:
      requests:
        cpu: "100m"
        memory: "50Mi"
      limits:
        memory: "256Mi"
