---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: default-jellyfin
  namespace: flux-system
spec:
  path: ./kubernetes/apps/default/jellyfin/app
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
  prune: true
  wait: true
  postBuild:
    substitute:
      APP: jellyfin
  dependsOn:
    - name: cluster-apps-csi-driver-nfs
