---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app headscale
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      headscale:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/juanfont/headscale
              tag: v0.28.0
            command: [headscale]
            args: [serve]
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
      ui:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/gurucomputing/headscale-ui
              tag: 2024.02.24-beta1
            securityContext:
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        sysctls:
          - name: net.ipv4.ip_unprivileged_port_start
            value: "0"
    service:
      headscale:
        controller: headscale
        ports:
          http:
            primary: true
            port: 8080
          metrics:
            port: 9090
      ui:
        controller: ui
        ports:
          http:
            port: 80
    persistence:
      config:
        type: secret
        name: headscale-secret
        advancedMounts:
          headscale:
            app:
              - path: /etc/headscale/config.yaml
                subPath: config.yaml
              - path: /etc/headscale/policy.json
                subPath: policy.json
      var-lib-headscale:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-csi
        retain: true
        globalMounts:
          - path: /var/lib/headscale
            readOnly: false
      tmp:
        type: emptyDir
        advancedMounts:
          headscale:
            app:
              - path: /var/run/headscale
                subPath: run
          ui:
            app:
              - path: /data
                subPath: data
              - path: /home/appuser/.local
                subPath: .local
    ingress:
      headscale:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN:=internal}
          # websockets?
          nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
        hosts:
          - host: &host hs.${SECRET_DOMAIN:=internal}
            paths:
              - path: /
                service:
                  identifier: headscale
                  port: http
              - path: /web
                service:
                  identifier: ui
                  port: http
