---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "${APP:=unifi}-gatus-ep"
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: "${APP:=unifi}"
        group: internal
        url: "https://${APP:=unifi}.${SECRET_DOMAIN:=internal}/manage/account/login"
        interval: 1m
        client:
          insecure: true
        conditions:
          - "[STATUS] == 200"
