---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-mealie
  namespace: flux-system
spec:
  targetNamespace: default
  interval: 10m
  path: "./kubernetes/apps/default/mealie/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  postBuild:
    substitute:
      APP: mealie
      GATUS_SUBDOMAIN: recipes
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets
