---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-ha-matter-hub
  namespace: flux-system
spec:
  targetNamespace: default
  interval: 10m
  path: "./kubernetes/apps/default/home-assistant-matter-hub/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  postBuild:
    substitute:
      APP: home-assistant-matter-hub
      GATUS_SUBDOMAIN: matterhub
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  dependsOn:
    - name: cluster-apps-external-secrets
