---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "${APP:=unknown}-gatus-ep"
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: "${APP:=app}"
        group: external
        url: "https://${GATUS_SUBDOMAIN:=${APP:=app}}.${SECRET_DOMAIN:=external}"
        interval: 1m
        client:
          dns-resolver: tcp://1.1.1.1:53
        conditions:
          - "[STATUS] == ${GATUS_STATUS:=200}"
