---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.6.0
            env:
              TZ: "${TIMEZONE:=America/New_York}"
              BASE_URL: "https://recipes.${SECRET_DOMAIN:=internal}"
              PUID: &runAsUser 65534
              PGID: &runAsGroup 65534
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: *runAsUser
        runAsGroup: *runAsGroup
        fsGroup: *runAsGroup
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: app
        ports:
          http:
            port: 9000
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host recipes.${SECRET_DOMAIN:=internal}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: wildcard-cert-tls
    persistence:
      api-data:
        enabled: true
        existingClaim: mealie
        globalMounts:
          - path: /app/data
            readOnly: false
      nonexistent:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /nonexistent
