home-kubernetes-foyer-dell-mff.yaml
home-kubernetes-basement-dell-sff.yaml
home-kubernetes-basement-rpi4-chocolate.yaml
home-kubernetes-basement-rpi4-pecan.yaml
home-kubernetes-basement-rpi4-peach.yaml
home-kubernetes-foyer-dell-3040.yaml
home-kubernetes-foyer-hp-800g3.yaml
talosconfig
